body{
    /*background-image: url("./12.jpg");*/
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.headerDiv{
    /*border-bottom: 1px solid #08088a;*/
    width: 100%;
    height: 80px;
    background-color: #5798c1;
    position: relative;
    display: flex;
    vertical-align: middle;
}

.typeDiv{
    width: 100%;
    height: 25px;
    text-align: left;
    background-color: #eeeeee;
}


.loginTableDiv{

}


.typeDiv button{
    width: 60px;
    height: 25px;
    font-weight: inherit;
    vertical-align: center;
    border: 0px;
    background-color: #5798c1;
    line-height: 8px;
    color: white;
}


.letmeseeDiv{
    margin-left: 12px;
    margin-top: 16px;
    font-family: "Sofia";
    font-size: 30px;
    color: white;
}


.twoDiv{
    width: 60%;
    height: 40px;
    padding-top: 20px;
    display: flex;
    margin-left: 20px;
    min-width: 200px;
}

.inputDiv{
    width: 60%;
    height: 40px;
    border-radius: 16px 0px 0px 16px;
    font-size: larger;
    box-sizing: border-box;
    border: 1px solid rgb(183, 183, 183);
    outline: none;
}

.inputDiv:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputDiv:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userLoginDiv{
    width: 40px;
    height: 40px;
    margin-left: 300px;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: deepskyblue;
}



.timeAndSumDiv{
    width: 900px;
    height: 20px;
    color: #d2d2d2;
    font-weight: initial;
}

.buttonDiv{
    width: 60px;
    height: 40px;
    border-radius: 0px 16px 16px 0px;
    border: 1px solid #3333ff;
    box-sizing: border-box;
    margin-left: 0px;
    background-color: #3333ff;
    font-size: larger;
    color: white;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.49, 1.59, 0.46, -0.21);

}


.buttonDiv:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bigDiv{
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
}


.leftDiv{
    width: 800px;
    height: 200px;
    margin-left: 80px;
}


.rightDiv{
    width: 300px;
    height: 200px;
    margin-left: 80px;
    /*border: 1px solid red;*/
}


.rightBigDiv{
    width: 100px;
    /*border-radius: 16px;*/
    text-align: left;
    font-weight: normal;
    font-size: larger;
    animation: fadenum 0.5s 1;
}



.textDiv{
    width: 580px;
    margin: auto;
    height: 140px;
    background-color: #fbfbfb;
    border-radius: 12px;
    /*border-right: 2px solid rgb(163, 241, 243);*/
    /*border-left: 2px solid rgb(255, 217, 130);*/
    /*border-bottom: 2px dashed black;*/
    /*border-top: 2px dashed black;*/
    margin-top: 15px;
    box-shadow: 0 1px 1px 0 rgba(67, 66, 66, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    animation: fadenum 0.5s 1;
    min-width: 200px;
}

@keyframes fadenum{

    0%{opacity: 0;}

    100%{opacity: 1;}

}

.titleDiv{
    width: 300px;
    height: 40px;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    box-sizing: border-box;
}

.titleDiv a{

}

.summaryDiv{
    width: 500px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    white-space: pre-wrap;
    /*overflow: hidden;*/
    text-overflow:ellipsis;
    margin-bottom: 10px;
    color: #000000;
}

.fiDiv{
    background-color: white;
    color: black;
    margin-top: 23px;
    margin-left: 20px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    outline: none;
    border: 0px;
}


.underTextDiv{
    margin-top: 20px;
    margin-left: 100px;
    width: 600px;
    height: 100px;
}


.pageButtonDiv{
    width: 100px;
    height: 30px;
    display: flex;
    margin-left: 325px;
}

.pageButtonDiv button{
    width: 50px;
    height: 100%;
    font-size: larger;
    background-color: #76ffff;
    border: 0px;
    border-right: 1px solid #000000;
}


.pageButtonDiv button:hover{
    background-color: #ffe000;
}


.pageCountDiv{
    margin: auto;
    width: 220px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


.starDiv{
    width: 100%;
    height: 130px;
    background-color: #f5f5f5;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(67, 66, 66, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;

}


.starDiv div{
    color: black;
}


.largerPic{
    transition: all 0.2s linear;
}

.largerPic:hover{
    transform: scale(2);
    transition: all 0.2s linear;
}
